@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  background-color: black;
  color: azure;
}

.profile-img {
  border-radius: 50%;
  width: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;

}

.add-member {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: violet;
  color: black;
  border: 1px solid black;
}

.add-member:hover {
  background-color: magenta;
  color: black;
  border: 1px solid black;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.edit {
  margin:5px;
  background-color: lightblue;
  color: black;
  border: none;
  border: black 1px solid;
}

.edit:hover {
  background-color:darkblue;
  color: black;
  border: black 1px solid;
}

.view {
  margin:5px;
  background-color: lightgreen;
  color: black;
  border: black 1px solid;

}

.view:hover {
  background-color: darkolivegreen;
  color: black;
  border: black 1px solid;
}

.delete {
  margin:5px;
  background-color: lightcoral;
  color: black;
  border: black 1px solid;
}

.delete:hover {
  background-color: red;
  color: black;
  border: black 1px solid;
}

.member-card {
  margin: 10px;
  width: 300px;
  height: 300px;
  background-color: silver;
  color: black;
  border-radius: 10px;
  border: violet 2px inset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.meet-greet {
  background-color: violet;
  color: black;
  border: 1px inset black;
  width: 35%;
}

.meet-greet:hover {
  background-color: darkmagenta;
  color: black;
  border: 1px solid black;
}

.copy-btn {
  background-color: violet;
  color: black;
  border: 1px solid black;
  margin: 10px;
}

.copy-btn:hover {
  background-color: darkmagenta;
  color: black;
  border: 1px solid black;
}

cursor-pointer {
  cursor: pointer;
}

.member-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: silver;
  border: inset 2px violet;
  border-radius: 50px;
  color: black;

}

.member-form-content {
  max-width: 600px; 
  width: 90%; 
  padding: 20px; 
  
  @media (min-width: 768px) {
    width: 70%; 
  }

  @media (min-width: 992px) {
    width: 50%; 
  }
}

.search-bar {
  margin: 10px;
  width: 300px;
  height: 50px;
  background-color: silver;
  color: black;
  border-radius: 10px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.submit-form {
  background-color: violet;
  color: black;
  border: 1px solid black;
}

.submit-form:hover {
  background-color: darkmagenta;
  color: black;
  border: 1px solid black;
}

.single-member {
  margin: 10px;
  width: 300px;
  height: 300px;
  background-color: silver;
  color: black;
  border-radius: 10px;
  border: violet 2px inset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
